<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.hc.client5.http.wire" level="off" additivity="FALSE">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.apache.hc.client5.http.headers" level="off" additivity="FALSE">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.github.shampoofactory.asynctest" level="off" additivity="FALSE">
            <AppenderRef ref="console" />
        </Logger>

        <Root level="warn" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>